* {
    font-family: Garamond , Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    text-align: center;
    padding-top: 5px;
    background-color: aquamarine;
    border-bottom: 2px solid black;
}

.weather-container {
    display: flex;
}

.search-bar {
    flex: 0 0 25%;
    display: block;
    padding-bottom: 66%;
    border-right: 2px solid black;
}

.form-input {
    width: 90%;
    padding: 5px;
    font-size: 30px;
    border: 1px solid #000000;
}

.btn {
    margin-top: 2%;
    width: 93%;
    padding: 5px;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 30px;
}

.city-searched {
    flex: 0 0 75%;
    margin-left: 2%;
}

.card-container {
    width: 15%;
    border: 2px solid black;
    justify-content: space-evenly;
}

#past-search button { 
    margin-left: 5%;
    margin-top: 2px;
    display: block;
    font-size: 20px;
    width: 80%;
}